<header class="p-3 bg-dark text-white">
  <h1>Angular routing</h1>
</header>

<div [@routeAnimation]="getRouteAnimationData()">
  <ul ngbNav class="nav-tabs">
    <li [ngbNavItem]="link.path" *ngFor="let link of links">
      <a ngbNavLink routerLink="." [fragment]="link.path">{{ link.path }}</a>
    </li>
  </ul>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
